.profile-table {
  margin: 20px 0 40px 0;

  tr:first-child {
    background-color: #ececec;
  }

  tr td:first-child {
    width: 40%;
  }
}

.client {
  @media print {
    font-size: 12px;
    .print-button {
      display: none;
    }
    .client-needs {
      display: none;
    }

    hr {
      display: none;
    }
  }
}

.previous-button {
  float: left;
}

.next-button, .submit-button {
  float: right;
}
