
*.xml
.idea/SNM-I.iml
frontend/src/context/index.js
backend/.env
backend/.DS_Store
frontend/.idea/snm-client.iml
.DS_Store
yarn.lock
backend/package-lock.json
backend/package.json
backend/yarn.lock
node_modules/.yarn-integrity
.vscode/launch.json
.vscode/launch.json
