
.navbar {
  border: none;
  margin-bottom: 0;
  background-color: white;
  color: #064b74;
  .navbar-brand {
    color: #064b74;
    font-weight: 500;
  }
}

.content {
  padding: 10px 0px;
  padding-bottom: 80px;
  width: 80%;
  margin: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  height: 60px;
  width: 100%;
  background-color: #222;
  color: #aaa;
  text-align: center;
  border-radius: 2px 2px 0 0;

  @media print {
    display: none;
  }
}

.landing {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/landing.jpg) no-repeat center center;
  background-size: cover;
}

.intro-placeholder {
  height: 700px;
}

.form-control {
    box-shadow: none;
}

.home-agency-branding {
  display: inline-block;
  margin-left: 100px;
  color: white;
  padding: 15px;
  font-weight: 500;
}

@media print {
  @page {
      size: auto;   /* auto is the initial value */
      margin: 0;  /* this affects the margin in the printer settings */
  }
}

.glyphicon-exclamation-sign {
  color: #eb644d;
}
