div.client-needs {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;

  .bio {
    width: 300px;
    margin-right: 5px;
    border-right: 1px black solid;
    padding: 0 10px;

    .lbl {
      margin: 0;
      text-decoration: underline;
    }
  }

  .needs {
    width: 100%;

    button {
      margin: 0 5px 5px;
      float: right;
    }

    .panel {
      margin: 5px;
      clear: right;

      .panel-heading a:hover {
        cursor: pointer;
      }

      .badge {
        vertical-align: text-bottom;
        margin-right: 10px;
      }

      tr.need {

        .glyphicon {
          visibility: hidden;
          color: darkred;
        }

        &:hover {
          cursor: pointer;

          .glyphicon {
            visibility: visible;
          }
        }
      }
    }
  }

  .modal-container {
    position: relative;
  }
  
  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

}