.need-type-buttons {
  button {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 30px;
  }
}

.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.recommended-service {
  padding: 10px 20px 15px 20px;
  h5 {
    display: inline-block;
    margin-right: 10px;
  }
  button {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.need-type {
  padding: 6px 0;
}

form.note-form {
  margin-top: 60px;
  button {
    margin-top: 5px;
    float: right;
  }
}

.well-sm {
  margin-bottom: 5px;
}
