.need-type-buttons {
  button {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-bottom: 30px;
  }
}

.outer {
  display: table;
  position: absolute;
  height: 80%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.recommended-service {
  h5 {
    display: inline-block;
    margin-right: 10px;
  }
}
