.content.login-pane {
  margin: 0 auto;
  padding: 80px 0;
  width: 50%;

  h3 {
    margin: 30px 0;
    text-align: center;
  }

  input {
    border-radius: initial;
    box-shadow: initial;
    text-align: center;
  }

  button {
    border-radius: initial;
    box-shadow: initial;
    padding: 6px 12px;
    margin-bottom: 15px;
    width: 100%;
  }

  .flash-error {
    color: #eb644d;
    background-color: rgba(235,100,77,0.05);
    border: 0.125em solid;
    margin-bottom: 15px;
    padding: 15px;
    .glyphicon {
      margin-right: 10px;
    }
  }

  .forgot-password{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }

  .login-buttons {
    .btn-default {
      background-image: none;
      text-shadow: none;
      color: white;
    }

    .btn-facebook {
      background-color: #3b5998;
      border-color: #3b5998;
    }

    .btn-google {
      background-color: #dd4b39;
      border-color: #dd4b39;
    }

    .btn-default-login {
      color: black;
    }
  }
}
