.operation-hour-fields {
  margin: 0 auto;
  width: 550px;

  .weekday {
    width: 150px;
    vertical-align: top;
    display: inline-block;
  }
  .operation-hours {
    display: inline-block;
  }
  .operation-hour {
    margin-bottom: 15px;
  }

  .start-time, .end-time {
    display: inline-block;
    width: 150px;
  }
}

.operation-hour-table {
  tr {
    &:first-child {
      background-color: white;
    }
    td:first-child {
      font-weight: bold;
    }
  }
  td {
    padding: 5px;
    vertical-align: top;
  }

}
