@media print {
  .provider {
    font-size: 12px;
  }
  .provider .print-button {
    display: none;
  }
  .provider .provider-needs {
    display: none;
  }
  .provider hr {
    display: none;
  }
}
